# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment variables - MUHIM! GitHub ga bermang
.env
backend/.env
frontend/.env

# Build
frontend/dist/
frontend/.vite/

# Prisma
backend/prisma/*.db

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
